
body {
  background-color: #DFEFCA;
  font-family: "Lato", sans-serif;
  color:darkgreen;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}

h1 {
  font-size: 40px;
  line-height: 30px;
}

h2, h3 {
  font-size: 24px;
  line-height: 30px;
}

a {
  color: black;
  transform: translateY(0);
  transition: color 0.3s ease, transform 0.3s ease;
}

a:hover {
  color: red;
  transform: translateY(-2px);
}

a:focus {
  outline: 2px solid red;
}

@media (prefers-reduced-motion: no-preference) {
  a {
    transition: color 0.3s ease;
  }
}

.fa-brands {
  font-size: 40px;
}

.container {
width: 800px;
margin: 0 auto;
}

.card {
  width: 700px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  border-width: 12px;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  border-radius: 5px;
  background-color: white;
  box-shadow: 10px 10px 9px;
}

#profile-pic {
  width: 150px;
  height: 150px;
}

.img-circle {
  border-radius:100px;
}

/* #contact-btn {
  background-color:darkgreen;
  border-radius: 5px;
  padding: 6px 16px;
  box-shadow: 4px 4px 6px rgba(0,0,0,.4);

  color: white;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;

} */

a#contact-btn {
  background-color: darkgreen;
  border-radius: 5px;
  padding: 6px 16px;
  box-shadow: 4px 4px 6px rgba(0,0,0,.4);

  color: white;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;

  border: none;
  outline: none;
}

.list-wrapper {
  text-align: center;
  margin-top: 10px;
}

.course-list {
  display: inline-block;
  text-align: left;
  padding-left: 1.8rem;
  margin: 0;
}
.course-list li {
  margin: 6px 0;
  line-height: 1.4;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
